<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="zpmshow.ZPM">
    <Module>
      <Name>zpmshow</Name>
      <Version>1.0.2</Version>
      <Description>Helper to Search, Install, Uninstall ZPM packages</Description>
      <Keywords>ZPM, Terminal, COS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="zpmshow.MAC"/>
    </Module>
  </Document>
</Export>
